 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h2>Hello</h2>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                  <p>
                    I’m Rob, a freelance software developer and operations engineer.
                  </p>

                  <p>
                    I help teams build and operate public digital services that improve people’s lives.
                  </p>

                  <p>
                    Previously I worked at the <a href="https://gds.blog.gov.uk/">Government Digital Service</a> on
                    the <a href="https://www.gov.uk/performance">Performance Platform</a> and the
                    <a href="https://www.digitalmarketplace.service.gov.uk/">Digital Marketplace</a>.
                    For more detail see <a href="{{ site.linkedin_url }}">LinkedIn</a>.
                  </p>

                </div>

                <div class="col-lg-6">
                  <img src="./img/rob-face.jpg">
                </div>
            </div>
        </div>
    </section>
