{% extends "base.html" %}

{% block head %}
  <script src="/grid.js"></script>
{% endblock %}

{% block content %}

<div id="grid">
  {% for i in range(end=25) %}
  <div id="cell-{{ i }}"></div>
  {% endfor %}
</div>

<h2>Hello</h2>

<p>I’m Rob, I am a software developer and operations engineer.</p>

<p>I mostly build things that live on the web. This website is a collection of things I have learnt or found interesting.</p>

<h2>Around the Web</h2>

<ul id="social">
  {% for social in config.extra.social %}
  <li>
    <a href="{{ social.url }}">
      <abbr title="{{ social.title }}" class="social-{{ social.title }}"></abbr>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
